.works {
  width: 100%;
  height: auto;
  background: var(--raisin-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  margin-top: -1px;
}
.works-title-container {
  width: 90%;
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.works-titles {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.works-subtitle {
  color: var(--anti-flash-white);
}
.works-title-container h2,
.works-title-container h3 {
  width: 100%;
}
.works-descriptions {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.works-description {
  font-size: var(--fs-3);
  color: var(--anti-flash-white);
  line-height: var(--lh-1);
  opacity: 0.6;
}
.works-card-container {
  width: 100%;
  max-width: 1250px;
  padding: 0 20px;
  gap: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.works-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.works-card-image {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}
.works-card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: inherit;
  transition: var(--transition-1);
}
.works-card-image span {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
  border-radius: 60px;
  border: 1px solid #b8b8b8;
  background: rgba(39, 39, 39, 0.5);
  backdrop-filter: blur(5px);
  color: var(--anti-flash-white);
  font-size: var(--fs-4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-500);
  opacity: 0;
  transition: var(--transition-1);
}
.works-card-content {
  width: 100%;
  padding-top: 10px;
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.works-card-category {
  display: flex;
  margin-bottom: 8px;
}
.works-card-category p {
  padding: 6px 15px;
  background: var(--grape-100);
  border-radius: 20px;
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  color: var(--anti-flash-white);
}
.works-card-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.works-card-title {
  color: var(--anti-flash-white);
  font-size: calc(var(--fs-1) * 1.5);
  font-weight: var(--fw-800);
  margin-bottom: 4px;
  transition: var(--transition-1);
}
.works-card-description {
  font-size: var(--fs-2);
  color: var(--anti-flash-white);
  line-height: var(--lh-1);
  opacity: 0.6;
}
.works-button {
  margin-top: 64px;
  margin-bottom: 32px;
  padding: 18px 36px;
  background: var(--grape);
  border-radius: 40px;
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  color: var(--anti-flash-white);
  transition: var(--transition-1);
}

/* hover effects */
@media (hover: hover) {
  .works-card-image:hover img {
    transform: scale(1.1);
  }
  .works-card-image:hover span {
    opacity: 1;
  }
  .works-card-title:hover {
    color: var(--grape-100);
  }
  .works-button:hover {
    background: var(--anti-flash-white);
    color: var(--raisin-black);
  }
}

/* responsive smaller than 768px screen */
@media (min-width: 768px) {
  .works-title-container {
    flex-direction: row;
    gap: 60px;
  }
  .works-subtitle {
    font-size: calc(var(--fs-1) * 1.3);
    margin: 0;
  }
  .works-card-container {
    padding: 0 42px;
  }
  .works-card-title {
    font-size: calc(var(--fs-1) * 1.2);
  }
  .works-card-description {
    font-size: var(--fs-3);
  }
}

/* responsive larger than 1024px screen */
@media (min-width: 1024px) {
  .works-title-container {
    margin-bottom: 80px;
  }
  .works-description {
    font-size: var(--fs-4);
  }
  .works-card-container {
    gap: 120px;
  }
  .works-card {
    flex-direction: row;
    gap: 80px;
  }
  .works-card-image {
    width: 100%;
    min-width: 550px;
    max-width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
  }
  .works-card-content {
    padding-top: 0;
    justify-content: space-between;
  }
  .works-card-reverse {
    flex-direction: row-reverse;
  }
  .works-button {
    font-weight: var(--fw-600);
  }
}

/* responsive larger than 1250px screen */
@media (min-width: 1250px) {
  .works-title-container {
    gap: 340px;
  }
  .works-subtitle {
    font-size: calc(var(--fs-1) * 2.2);
    margin: 0;
  }
  .works-title-container {
    width: 100%;
    padding: 0 20px;
  }
  .works-card-container {
    width: 100%;
    padding: 0 20px;
  }
  .works-card-image {
    min-width: 700px;
    max-width: 700px;
  }
  .works-card-content {
    justify-content: center;
    gap: 20px;
  }
}
