.portfolio_list {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.portfolio-list-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  animation: appearContent 1s ease-in-out forwards;
}
.portfolio-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.portfolio-title-container .section-title {
  color: var(--grape);
}
.filter-container {
  width: 100%;
  min-width: 200px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
}
.filter-container::-webkit-scrollbar {
  display: none;
}
.filter-btn {
  padding: 12px 24px;
  border-radius: 20px;
  text-wrap: nowrap;
  font-size: var(--fs-4);
  font-weight: var(--fw-500);
  background-color: #cbcbcbd2;
  cursor: pointer;
  transition: var(--transition-1);
}
.filter-btn:hover,
.filter-btn.active {
  background-color: var(--grape);
  color: var(--anti-flash-white);
}
.project-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  gap: 40px;
  margin: 60px 0;
}
.project-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
  transition: var(--transition-1);
}
.project-card-image {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.project-card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: inherit;
  transform: scale(1.1);
  transition: var(--transition-1);
}
.project-card-image span {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
  border-radius: 60px;
  border: 1px solid #b8b8b8;
  background: rgba(39, 39, 39, 0.5);
  backdrop-filter: blur(5px);
  color: var(--anti-flash-white);
  font-size: var(--fs-4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-500);
  opacity: 0;
  transition: var(--transition-1);
}
.project-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-card-title {
  font-size: calc(var(--fs-1) * 1.2);
  font-weight: var(--fw-800);
  cursor: pointer;
  transition: var(--transition-1);
}
.project-card-text {
  font-size: var(--fs-2);
  font-weight: var(--fw-400);
}
.project-card-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.category-text {
  font-size: var(--fs-4);
  font-weight: var(--fw-500);
  color: var(--anti-flash-white);
  background-color: var(--grape-100);
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
}
.category-text:hover {
  background: var(--grape);
  color: var(--anti-flash-white);
}
/* hover effects */
@media (hover: hover) {
  .project-card-title:hover {
    color: var(--grape);
  }
  .project-card-image:hover img {
    transform: scale(1.2);
  }
  .project-card-image:hover span {
    opacity: 1;
  }
}

/* responsive larger than 768px screen */
@media (min-width: 768px) {
  .portfolio-list-container {
    width: 90%;
    max-width: 1250px;
  }
  .project-card-image {
    border-radius: 30px;
  }
  .project-card-title {
    font-size: calc(var(--fs-2) * 1.2);
  }
  .project-card-text {
    font-size: var(--fs-3);
  }
}

/* responsive larger than 1024px screen */
@media (min-width: 1024px) {
  .portfolio_list {
    padding-top: 200px;
  }
  .filter-container {
    gap: 15px;
  }
  .portfolio-title-container {
    width: 60%;
  }
  .project-grid-container {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 60px;
  }
  .project-card {
    gap: 20px;
  }
  .project-card:nth-child(odd) {
    margin-top: -120px;
  }
  .project-card:nth-child(1) {
    margin-top: 0px;
  }
  .project-card:nth-child(2) {
    margin-top: 80px;
  }
  .project-card-image {
    border-radius: 60px;
  }
  .project-card-title {
    font-size: calc(var(--fs-2) * 1.2);
  }
  .project-card-text {
    font-size: var(--fs-4);
  }
}
