.about {
  width: 100%;
  padding: 80px 0 60px;
  display: flex;
  background: var(--anti-flash-white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-container-second,
.about-container {
  width: 90%;
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.about-container-second {
  margin-bottom: 0;
}
.about-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.about-container-second .about-title-container,
.about-container-second .about-title-container .section-title {
  text-align: left;
}
.about .section-title {
  color: var(--grape);
  flex: 1;
  width: 100%;
}
.about .section-description {
  font-size: calc(var(--fs-2) + 1px);
}
.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.about-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-image img {
  width: 100%;
}
.about-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: var(--lh-2);
  font-weight: var(--fw-500);
  opacity: 0.6;
  gap: 20px;
}
.about-text-container p > a {
  display: inline-block;
  color: var(--grape);
  font-weight: var(--fw-800);
}

/* responsive larger than 1024px screen */
@media (min-width: 1024px) {
  .about {
    padding: 80px 0;
  }
  .about-container-second,
  .about-container {
    width: 90%;
    margin-bottom: 50px;
  }
  .about-container-second {
    max-width: 1250px;
    margin-bottom: 0;
    flex-direction: row;
    gap: 20px;
  }
  .about .section-description {
    font-size: calc(var(--fs-2) - 6px);
  }
  .about-title-container {
    margin-bottom: 50px;
  }
  .about-container-second .about-title-container {
    margin-bottom: 0;
  }
  .about-content {
    flex-direction: row;
  }
  .about-image {
    width: 80%;
  }
  .about-container-second .about-image {
    width: 100%;
  }
}

/* responsive larger than 1250px screen */
@media (min-width: 1250px) {
  .about-container {
    width: 70%;
    margin-bottom: 60px;
  }
}
