.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background: transparent;
  transition: var(--transition-1);
  z-index: 100;
}
.header.fixed,
.header.open {
  background: var(--anti-flash-white);
  box-shadow: var(--shadow-1);
}
.header.fixed {
  animation: 1s cubic-bezier(0.23, 1, 0.32, 1) both slideInFromTop;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.header .logo {
  width: auto;
  height: 40px;
  cursor: pointer;
}
.header-container .menu-icon i {
  font-size: var(--fs-1);
  color: var(--raisin-black);
  cursor: pointer;
}
.header-container .menu-icon .close-menu {
  width: 36px;
  height: 36px;
  background: var(--grape);
  border-radius: 50%;
}
.header-container .menu-icon i.hidden,
.header-container .menu-icon .close-menu.hidden {
  display: none;
}
.menu-container {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  margin: 63px 0;
  padding: 24px 18px;
  background: var(--anti-flash-white);
  transition: var(--transition-1);
  transition-delay: 0.25s;
  z-index: 3;
}
.menu-container.open {
  left: 0;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu .menu-item a {
  font-size: var(--fs-3);
  font-weight: var(--fw-400);
  color: var(--raisin-black);
  cursor: pointer;
  transition: var(--transition-1);
}
.menu .menu-item a:hover,
.menu .menu-item a.active {
  color: var(--grape-200);
}
.animate {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: calc(100vh - 63px);
  margin: 63px 0 0 0;
  background: var(--grape);
  transition: var(--transition-2);
  transition-delay: 0.1s;
  z-index: 2;
}
.animate.open {
  width: 100%;
}
.options-container {
  display: none;
}
.secondary {
  border: 1px solid var(--raisin-black);
}
.secondary:hover {
  background: var(--grape);
  color: var(--anti-flash-white);
  border: 1px solid var(--grape);
}

/* responsive smaller than 1024px screen */
@media (min-width: 1024px) {
  .logo-main-container {
    flex: 0;
  }
  .menu-icon {
    display: none;
  }
  .menu-container {
    display: flex;
    position: relative;
    left: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    background: transparent;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  .animate {
    display: none;
  }
  .options-container {
    display: flex;
    gap: 12px;
  }
}

/* animations */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* responsive larger than 1250px screen */
@media (min-width: 1250px) {
  .header {
    padding: 25px 18px;
    display: flex;
    justify-content: center;
  }
  .header.fixed {
    padding: 15px 18px;
  }
  .header-container {
    max-width: 1270px;
    flex: 1;
  }
  .header .logo {
    height: 40px;
  }
}
