.carrusel {
  margin-top: -2px;
  width: 100%;
  height: auto;
  padding: 20px 0;
  background: var(--raisin-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.carrusel-text-container {
  width: 90%;
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
.carrusel-text-container h2 {
  color: var(--anti-flash-white);
  font-size: calc(var(--fs-1) * 1.2);
}
.carrusel-container {
  width: 90%;
  height: 100px;
  max-width: 1250px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
[data-animated='true'] {
  mask-image: linear-gradient(to right, transparent, #000 20% 90%, transparent);
  overflow: hidden;
}
.carrusel-container .carrusel-list {
  width: 100%;
  height: 100px;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: nowrap;
  transition: var(--transition-2);
  animation: scroll var(--animation-duration, 10s) var(--animation-direction, forwards) linear infinite;
}
.carrusel-list .carrusel-item {
  transition: var(--transition-2);
}
.carrusel-item img {
  width: auto;
  height: 40px;
}
[data-duration='fast'] {
  --animation-duration: 10s;
}
[data-direction='reverse'] {
  --animation-direction: reverse;
}

/* animations */
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* hover effects */
@media (hover: hover) {
  .carrusel-container:hover .carrusel-list {
    animation-play-state: paused;
  }
  .carrusel-container:hover .carrusel-item {
    filter: grayscale(1);
  }
  .carrusel-container .carrusel-item:hover {
    filter: grayscale(0);
  }
}
