main {
  min-width: 259px;
}
article {
  transition: var(--transition-2);
  z-index: 1;
}
.h2,
.h3,
.h4,
.h5 {
  color: var(--anti-flash-white);
  text-transform: capitalize;
}
.h2 {
  font-size: var(--fs-1);
}
.h3 {
  font-size: var(--fs-2);
}
.h4 {
  font-size: var(--fs-4);
}
.h5 {
  font-size: var(--fs-5);
}
.btn-circle {
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  cursor: pointer;
  transition: var(--transition-1);
}
.section-title {
  font-size: calc(var(--fs-1) - 4px);
  color: var(--amber);
  font-weight: var(--fw-600);
  margin-bottom: 5px;
  text-transform: capitalize;
}
.section-subtitle {
  font-size: calc(var(--fs-1) * 1.6);
  font-weight: var(--fw-800);
  margin-bottom: 20px;
}
.section-description {
  font-size: calc(var(--fs-2) - 1px);
  line-height: var(--lh-1);
}
.box-count {
  position: absolute;
  top: 40px;
  left: 24px;
  width: 50px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.box-count svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.box-count .count-text {
  font-family: var(--ff-press-start);
  color: var(--anti-flash-white);
  font-size: var(--fs-4);
}

/* animations */
@keyframes appearContent {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* responsive larger than 580px screen */
@media (min-width: 580px) {
}

/* responsive larger than 768px screen */
@media (min-width: 768px) {
}

/* responsive larger than 1024px screen */
@media (min-width: 1024px) {
}

/* responsive larger than 1250px screen */
@media (min-width: 1250px) {
  main {
    margin-inline: auto;
  }
  .section-title {
    font-size: calc(var(--fs-1) - 10px);
  }
  .section-subtitle {
    font-size: calc(var(--fs-1) * 2);
  }
  .section-description {
    font-size: calc(var(--fs-2) - 5px);
  }
}
