main {
  min-width: 259px;
}
article {
  transition: var(--transition-2);
  z-index: 1;
}
.h2,
.h3,
.h4,
.h5 {
  color: var(--anti-flash-white);
  text-transform: capitalize;
}
.h2 {
  font-size: var(--fs-1);
}
.h3 {
  font-size: var(--fs-2);
}
.h4 {
  font-size: var(--fs-4);
}
.h5 {
  font-size: var(--fs-5);
}
.btn-circle {
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  cursor: pointer;
  transition: var(--transition-1);
}

/* responsive larger than 580px screen */
@media (min-width: 580px) {
  article {
    width: 520px;
  }
}

/* responsive larger than 768px screen */
@media (min-width: 768px) {
  article {
    width: 700px;
  }
}

/* responsive larger than 1024px screen */
@media (min-width: 1024px) {
  article {
    width: 950px;
  }
}

/* responsive larger than 1250px screen */
@media (min-width: 1250px) {
  main {
    max-width: 1270px;
    margin-inline: auto;
  }
  article {
    width: auto;
    min-height: 100%;
  }
}
