:root {
  /* COLORS */
  /* gradient */
  --raisin-black-gradient: linear-gradient(90deg, #f5f5f5 40%, #979ec3 100%);

  /* solid */
  --raisin-black: #272635;
  --raisin-black-100: #979ec3;
  --raisin-black-200: #605f96;
  --raisin-black-300: #454464;
  --anti-flash-white: #f0edee;
  --anti-flash-white-100: #f5f5f5;
  --anti-flash-white-200: #fafafa;
  --anti-flash-white-300: #bbaeb2;
  --amber: #ffbe0b;
  --amber-100: #ffcc00;
  --amber-200: #ffdb4d;
  --grape: #5e1bb1;
  --grape-100: #7a3da0;
  --grape-200: #9b5ac1;

  /* TYPOGRAPHY */
  /* font-family */
  --ff-press-start: "Press Start 2P", system-ui;
  --ff-raleway: "Raleway", sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 16px;
  --fs-4: 14px;
  --fs-5: 12px;
  --fs-6: 10px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /* line-height */
  --lh-1: 1.5;
  --lh-2: 1.6;
  --lh-3: 1.7;

  /* SHADOW */
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /* TRANSITION */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li,
ol {
  list-style: none;
}
img,
a,
button,
span {
  display: block;
}
button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
input,
textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}
::selection {
  background: var(--grape-200);
  color: var(--anti-flash-white-200);
}
:focus {
  outline-color: var(--grape-200);
}
html {
  font-family: var(--ff-raleway);
  scroll-behavior: smooth;
}
body {
  background: var(--anti-flash-white);
}

/* responsive larger than 580px screen */
@media (min-width: 580px) {
  :root {
    /* font-size */
    --fs-1: 32px;
    --fs-2: 24px;
    --fs-3: 20px;
    --fs-4: 18px;
    --fs-5: 15px;
    --fs-6: 12px;
  }
}

/* responsive larger than 1024px screen */
@media (min-width: 1024px) {
  :root {
    /* SHADOW */
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
  }
}

/* responsive larger than 1250px screen */
@media (min-width: 1250px) {
  body::-webkit-scrollbar {
    width: 7px;
  }
  body::-webkit-scrollbar-track {
    background: var(--anti-flash-white);
  }
  body::-webkit-scrollbar-thumb {
    background: var(--raisin-black-200);
    border-radius: 10px;
  }
  body::-webkit-scrollbar-thumb:hover {
    background: var(--raisin-black-100);
  }
  /* body::-webkit-scrollbar-button {
    height: 60px;
  } */
}
